.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  width: 65%;
  font-family: "Raleway";
  color: #5a5a5a;
}

.bookcoverContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  background-color: #edab36;
  width: 35%;
  height: 100vh;
}

.bookcover {
  width: 20vw;
}

.title {
  font-family: "Rancho";
  font-size: 5em;
  color: #424242;
  line-height: 1;
}

.authortitle {
  font-size: 2.3em;
  color: #505050;
}

.description {
  margin-top: 3%;
  font-size: 1.2em;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 4%;
}
