.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: -0.5rem; /* quite hardcoded */
}

.centralContainer {
  width: 50vw;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.mainHead {
  background-color: rgb(39, 31, 16);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vh;
  margin-bottom: 1vh;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3.5vw;
  font-weight: 500;
  color: white;
  font-family: "Rancho";
  margin-bottom: 2vh;
}

.bookContainer {
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.basedOnTitle {
  font-weight: 100;
  color: rgb(148, 148, 148);
}

@media (max-width: 750px) {
  .title {
    font-size: 10vw;
  }
  .centralContainer {
    width: 90vw;
  }
}