.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5vh;
}

.searchInput {
  width: 40rem;
  height: 2.5rem;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 1.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  outline: none;
  font-size: 1rem;
}
.matches {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1.25rem;
}
.matchTitle {
  margin: 0;
  padding: 0;
}
.match {
  padding: 1vh;
  padding-left: 1vw;
  width: 70vh;
  text-align: start;
}
.match:hover {
  border-radius: 1.25rem;
  background-color: #dadada;
  cursor: pointer;
}
